@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-customBg; 
}

.btn-bg {
  @apply bg-buttonBlue; 
}
.navlink-bg{
  @apply bg-linkBg;
}

.default-color {
  @apply text-fontColor; 
}
.textBackground{
  @apply text-textBg;
}

.custom-btn {
  @apply flex items-center gap-2 px-3 py-3 sm:px-5 sm:py-5 md:px-9 md:py-4 lg:py-5 text-fontColor rounded-lg whitespace-nowrap;
}
.border{
  @apply text-borderLine
}
.hero-background{
  @apply bg-hero-bg
}
.card3bg{
  @apply bg-cardThreeBg
}
.card1-text{
  @apply text-cardOneText
}
.test-bg{
  @apply bg-testimonialCardBg
}
.get-started-font{
  @apply text-GetStartedTextFont
}
.footerBg{
  @apply bg-FooterBackground
}
.ease-p{
  @apply text-withEaseP
}
.border{
  @apply border-BorderLineColour
}

/* Hide scrollbar for WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}




